.about-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background-color: #ef6f3f;
background-image: url("data:image/svg+xml,%3Csvg width='70' height='70' viewBox='0 0 70 70' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ff956e' fill-opacity='0.17' fill-rule='evenodd'%3E%3Cpath d='M0 0h35v35H0V0zm5 5h25v25H5V5zm5 5h15v15H10V10zm5 5h5v5h-5v-5zM40 5h25v25H40V5zm5 5h15v15H45V10zm5 5h5v5h-5v-5zM70 35H35v35h35V35zm-5 5H40v25h25V40zm-5 5H45v15h15V45zm-5 5h-5v5h5v-5zM30 40H5v25h25V40zm-5 5H10v15h15V45zm-5 5h-5v5h5v-5z'/%3E%3C/g%3E%3C/svg%3E");

    gap: 20px;
    width: 99%;
    margin: 10px;
    padding: 40px 20px;
    box-sizing: border-box;
    border-radius: 8px;
}

.about-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    background-color: #fc8458;
    padding: 1rem;
    border-radius: 5px;
    font-family: "Barrio", system-ui;
    font-size: 1.5rem;
}

.about-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
}

.about-left {
    max-width: 25%;
    flex: 1;
    padding: 10px;
    margin-right: 20px;
}

.about-left img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.about-right {
    flex: 2;
    padding: 10px;
    max-width: 50%;
    background-color: #fc8458;
    border: 0px;
    border-radius: 5px;
}

.about-right p {
    color: black;
}