.projects-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #A300A3;
  /* new bg color: */

  /* background-color: #6a006a; */
  background-color: #701770;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23812881' fill-opacity='0.26'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

  gap: 20px;
  width: 99%;
  margin: 10px;
  padding: 40px 20px;
  box-sizing: border-box;
  border-radius: 8px;
}

.projects-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  background-color: #A300A3;
  padding: 1rem;
  border-radius: 5px;
  font-family: "Gabarito", sans-serif;
  font-size: 1.5rem;
}

.individual-projects {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 40px;
  width: 100%;
  padding: 2rem 0;
}

/* Each project block */
.project-section {
  display: flex;
  flex-direction: row;
  background-color: #A300A3;
  justify-content: space-evenly;
  padding: 2rem;
  border-radius: 8px;
  width: 90%;
  gap: 2rem;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.project-section:hover {
  transform: translate(2px, -2px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background-color: #ad00ad;
  cursor: pointer;
}

/* Alternate layout for variety */
.project-section:nth-child(even) {
  flex-direction: row-reverse;
  background-color: #800080;
  justify-content: space-evenly;
}

.project-section:nth-child(even):hover {
  flex-direction: row-reverse;
  background-color: #8c018c;
  justify-content: space-evenly;
}

/* Image styling */
.project-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-image img {
  max-width: 75%;
  max-height: 75%;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.project-section:hover .project-image img {
  transform: scale(1.01);
}

/* Text content */
.project-info {
  max-width: 45%;
  max-height: 75%;
  line-height: 1.5;
  color: white;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-info h2 {
  font-family: "Gabarito", sans-serif;
  font-size: 1.8rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.project-info a {
  display: inline-block;
  text-decoration: none;
  color: #ffddee;
  font-family: "Gabarito", sans-serif;
  font-weight: 800;
  padding: 10px 0px;
}

.project-info p {
  color: black;
  font-size: 18px;
}